<div id="header" class="header">

  <h1 id="name">Jacob Waugh</h1>
  <span onclick="openNav()">&#9776;</span>
  <nav id="sideNav" class="sideNav">
    <a href="javascript:void(0)" class="closeBtn" onclick="closeNav()">&times;</a>
    {% for item in site.data.navigation %}
    {% if item.dropdown == "no" %}
    <a href="{{ site.baseurl }}/{{ item.link }}" {% if page.url==item.link %} class="navCurrent" {% endif %}>
      {{ item.name }}
    </a>
    {% endif %}
    {% endfor %}
    <button class="dropdownBtn" style="visibility: hidden;">Projects &#9662;<i class="caret"></i></button>
    <div class="dropdownBox">
      {% for item in site.data.navigation %}
      {% if item.dropdown == "yes" %}
      <a href="{{ item.link }}" class="dropdownLink" {% if page.url==item.link %} class="navCurrent dropdownLink" {%
        endif %}>
        {{ item.name }}
      </a>
      {% endif %}
      {% endfor %}
    </div>
  </nav>
</div>
<script src="{{ site.baseurl }}/assets/js/NavMenu.js"></script>