  .body{
    background-color: (58, 58, 74);
  }
  
  .border {
    background-color: rgba(165, 188, 208, 0.7);
    border-radius: 5px;
    margin: 10px 40px;
    justify-content: center;
  }

  .logoContainer{
    display: block;
    justify-content: center;
  }

  .logo{
    display: flex;
    width: 25%;
    margin: auto;
  }

  .download{
    text-align: center;
    margin: 6px;
  }
  
  .content{
    display: flex;
    padding: 0 10px;
  }

  .photoBar{
    border: 3px solid rgba(15, 100, 120, 0.85);
    border-radius: 4px;
    background-color: rgba(198, 198, 198, 0.4);
    display: grid;
    width: 40%;
    margin: 5px;
    align-items: center;
    justify-content: center;
  }

  .photoBar img{
    width: 95%;
    height: auto;
    margin: auto;
    padding: 10px 0;
    display: block;
  }

  .photoBar iframe{
    display: block;
    width: 100%;
    height: 252px;
  }

  .description{
    margin: 4px;
    width: 60%;
    padding: 8px;
  }

  .description p{
    padding-bottom: 4px;
    padding-left: 8px;
  }

  hr{
    border: none;
    height: 1px;
    background-color: #33333370;
  }

  h3{
    margin: 0 8px 0;
  }

  .devlog{
    font-family: 'Courier New', Courier, monospace;
    margin: 0 8px 0;
  }