.border {
    background-color: rgba(165, 188, 208, 0.7);
    border-radius: 5px;
    margin: 10px 40px;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }

  .border img{
    width: 50%;
  }

  .description{
    margin-left: 20%;
    margin-right: 20%;
  }

  .imgContainer{
    display: flex;
    justify-content: center;
  }
  
  .imgContainer img{
    width: 45%;
    margin: 6px;
  }

  .sketchfab-embed-wrapper{
    width: 512px;
    height: 384px;
    margin: auto;
  }

  .sketchfab-embed-wrapper iframe{
    width: 100%;
    height: 100%;
  }