body{
    margin: 0;
    transition: background-color .5s;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(215, 215, 215);
}

/* HEADER & NAV PANEL */
.header{
    background-color: rgba(70, 90, 123, 0.925);
    overflow: hidden;
    position: fixed;
    font-size: 24px;
    top: 0;
    width: 100%;
    z-index: 6;
    padding: 5% 10px;
    transition: 0.4s;
}

.homeBtn{
    font-weight: bold;
    text-decoration: none;
    outline: solid rgba(221, 215, 228, 0.721);
    background-color: rgba(99, 126, 180, 0.37);
    color: rgb(45, 50, 104);
    border-radius: 10px;
    padding: 6px;
    font-size: 16px;
    position: absolute;
    left: 60px;
    top: 300px;

}

.header h1{
    padding-left: 200px;
    float: left;
    transition: 0.4s;
    margin: auto;
    color: rgb(215, 215, 215);
}

.header .subtitle{
    position: absolute;
    padding-left: 200px;
    margin-top: 26px;
    font-size: 20px;
    color: rgb(185, 185, 185);
}

.header span{
    padding-right: 90px;
    float: right;
    cursor: pointer;
    font-size: 48px;
}

.header .sideNav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(43, 47, 72);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.header .sideNav .sideLink, .dropdownBtn{
    font-size: 32px;
    padding: 16px 16px 16px 32px;
    color: rgba(144, 173, 188, 0.75);
    display: block;
    transition: 0.3s;
    text-decoration: none;
    background: none;
    cursor: pointer;
    outline: none;
    border: none;
}

.header .sideNav .sideLink:hover, .dropdownBtn:hover{
    color: rgb(164, 196, 212);
}

.header .sideNav .navCurrent{
    color: rgb(164, 196, 212);
}

.header .sideNav .icon{
    display: inline;
}

.header .sideNav .pageBox{
    margin-bottom: 16px;
}

.dropdownBox{
    display: none;
    padding-left: 8px;
    background-color: rgba(144, 173, 188, 0.75);
    transition: 0.3s;
}

.dropdownBox a.dropdownLink{
    color:rgba(144, 173, 188, 0.75);
    font-size: 20px;
}

.active{
    background-color:rgba(94, 82, 138, 0.856);
    color: rgb(187, 173, 232);
}

.header .sideNav .closeBtn{
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 36px;
    text-decoration: none;
    color: rgba(144, 173, 188, 0.75);
    transition: 0.3s;
    padding-left: 10px;
}

.header .sideNav .closeBtn:hover{
    color: rgb(164, 196, 212);
    transition: 0.3s;
}

.iconBar{
    display: inline;
    margin: 30px 0 0 30px;
}

.iconBar .icon{
    color: rgba(144, 173, 188, 0.75);
    transition: 0.3s;
}

.iconBar .icon:hover{
    color: rgb(164, 196, 212);
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}