body{
    margin: 0;
    transition: background-color .5s;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER & NAV PANEL */
.header{
    background-color: rgba(197, 197, 197, 0.925);
    overflow: hidden;
    position: fixed;
    font-size: 24px;
    top: 0;
    width: 100%;
    z-index: 6;
    padding: 7% 10px;
    transition: 0.4s;
}

.homeBtn{
    font-weight: bold;
    text-decoration: none;
    border: solid rgba(96, 72, 124, 0.721);
    background-color: rgba(141, 99, 180, 0.133);
    color: rgb(104, 73, 144);
    border-radius: 10px;
    padding: 6px;
    font-size: 16px;
    float: left;
    margin-left: 64px;
}

.header h1{
    padding-left: 200px;
    float: left;
    transition: 0.4s;
    margin: auto;
}

.header span{
    padding-right: 64px;
    float: right;
    cursor: pointer;
    font-size: 48px;
}

.header .sideNav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(60, 43, 72);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.header .sideNav a, .dropdownBtn{
    font-size: 28px;
    padding: 16px 16px 16px 32px;
    color: rgba(126, 117, 159, 0.75);
    display: block;
    transition: 0.3s;
    text-decoration: none;
    background: none;
    cursor: pointer;
    outline: none;
    border: none;
}

.header .sideNav a:hover, .dropdownBtn:hover{
    color: rgb(187, 173, 232);
}

.header .sideNav a.navCurrent{
    color: rgb(187, 173, 232);
}

.dropdownBox{
    display: none;
    padding-left: 8px;
    background-color: rgba(99, 85, 117, 0.75);
    transition: 0.3s;
}

.dropdownBox a.dropdownLink{
    color:rgb(213, 208, 218);
    font-size: 20px;
}

.active{
    background-color:rgba(94, 82, 138, 0.856);
    color: rgb(187, 173, 232);
}

.header .sideNav .closeBtn{
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 36;

}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}